{% extends 'hospitaltemplete.html' %}
<html>
<head>
    <title>Librarian</title>
</head>
<body>
{% block m3 %}
<form action="changepass" method="post">
<fieldset  style="width:500px; height:300px; margin-left:300px; margin-top:10px; border:solid 5px #CC9966; font-size:30px; padding-top:30px">
   <legend>CHANGE PASSWORD</legend>
    NEW PASSWORD:<br>
   <input type="password" name="password" id="t1" size="50px" required style="background-color:#FBD0DB;height:30px;font-size:25px"><br><br>
    CONFORM PASSWORD:<br>
   <input type="password" name="cpassword" id="t2" size="50px"  required style="background-color:#FBD0DB;height:30px;font-size:25px"><br><br>
   <input type="submit" name="submit" value="change password" style="width:200px; height:40px; background-color:#33F; border:solid 3px #3366FF; font-size:24px; margin-left:100px;"/>
</fieldset>
    {% if msg %}
    <h3>{{ msg }}</h3>
    {% endif %}
</form>
{% endblock %}
</body>
</html>